.verde
{
    width: 350px;
    height: 1000px;
    background-color: green;
}
.blanco
{
    width: 350px;
    height: 1000px;
    background-color: white;
}
.rojo
{
    width: 350px;
    height: 1000px;
    background-color: red;
}